body {
    margin: 0;
    padding: 0;
}


/* header-begin */

.headerbox {
    background-color: black;
    padding: 1em;
}

.headernav {
    text-align: right;
}


/* header-end */


/* avatar-begin */

.avatar-section {
    text-align: middle
}

#avatar {
    border-radius: 50%;
}

#name {
    font: bold 24px black;
}

.avatar-section a,
.avatar-navigation ul li a {
    text-decoration: none;
    color: black;
}

.avatar-navigation ul {
    list-style-type: none;
}

.about-me {
    font-weight: 700;
}

.portfolio {
    font-weight: 350;
    opacity: 0.5;
}

.avatar-unorderedlist li:first-child::before {
    content: url(../img/Porfolio.svg);
}

.avatar-unorderedlist li:last-child::before {
    content: url(../img/about-me.svg);
}


/* avatar-end */


/* big-heading-begin */

.big-heading p {
    width: 28em;
    font-size: 1em;
    line-height: 1.9em;
    font-weight: 500;
}

.italic-words {
    font-style: italic;
}


/* big-heading-end */


/* skills-begin */

.html::before {
    content: url(../img/html-5\ 1.svg);
    vertical-align: middle;
}

.css::before {
    content: url(../img/css\ 1.svg);
    vertical-align: middle;
}

.js::before {
    content: url(../img/js.svg);
    vertical-align: middle;
}

.react::before {
    content: url(../img/react.svg);
    vertical-align: middle;
}


/* skills-end */


/* language-begin */

.english::before {
    content: url(../img/UK.svg);
    vertical-align: middle;
}

.vietnamese::before {
    content: url(../img/vietnam-1.png);
    vertical-align: middle;
}


/* language-end */


/* footer-begin */

footer {
    margin: 0px;
    background-color: #F2F2F2;
    padding-left: 1em;
    padding-top: 0.875em;
    padding-bottom: 0.875em;
}

footer p {
    margin: 0;
}


/* footer-end */